* {
	padding: 0;	
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: "Open Sans", sans-serif;
	color: #333;
	background: #f1f1f1;
}

#main{
	background-color: #fff;
	width: 360px;
	min-height: 100px;
	margin: 100px auto;
}


#main h2{
	text-align: center;
	margin: 24px;
	font-size: 2em;
	margin-bottom: 36px;
}

#main .form{
	width: 100%;
	padding: 24px;
}

label, input, p{
	display: block;
	width: 100%;
}

.form-group{
	margin-bottom: 16px;
}

.form-group label{
	margin-bottom: 6px;
	font-weight: bold;
}

.form-group input{
	height: 40px; 
	padding: 10px;
	font-size: 1em;
	border: 1px solid #000;
	border-radius: 5px;
}

/*.form p{
	height: 16px;
}*/

.form .create{
	display: block;
	width: 100%;
	height: 40px;
	background-color: #1dbfaf;
	border-radius: 5px;
	border: 1px solid #000;
	margin-top: 36px;
}